<p id="notice"><%= notice %></p>

<h1>Listing Workers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Birthday</th>
      <th>Salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.first_name %></td>
        <td><%= worker.last_name %></td>
        <td><%= worker.birthday %></td>
        <td><%= worker.salary %></td>
        <td><%= link_to 'Show', worker, :class => "btn btn-blue" %></td>
        <td><%= link_to 'Edit', edit_worker_path(worker), :class => "btn btn-green" %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_worker_path %>
