<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @worker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @worker.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @worker.birthday %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @worker.salary %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
